@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.container {
    background-color: lightgray;
    width: 100%;
    max-width: 700px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.container h3 {
    text-align: center;

}

.container h4 {
    text-align: center;
    display: flexbox;
}

#translationInputs {
    padding-left: 70px;
    padding-top: 10px;
}